src/main/resources/zipcodes.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="zipcodes" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="zipcode" maxOccurs="unbounded" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="zip" type="xs:string"/>
							<xs:element name="city" type="xs:string"/>
							<xs:element name="state" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>   
		</xs:complexType>
	</xs:element>
</xs:schema>
